.header {
  display: flex;
  justify-content: space-between;
  margin: 25px;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.user-area {
  position: absolute;
  right: 40px;
}

.aTag {
  color: #000000; 
  background-color: #757288;
}