.group {
	position: relative;
	margin: 45px 0;
}

.group .form-input {
	background: none;
	background-color:#d1d1d1;
	color: #d1d1d1;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 95%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid grey;
	margin: 25px 0;
}

.group .form-input:focus {
	outline: none;
}

.group .form-input:focus ~ .form-input-label {
	top: -14px;
	font-size: 12px;
	color: #5b5773;
}

.group input[type='password'] {
	letter-spacing: 0.3em;
}

.group .form-input-label {
	color: #767676;
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 300ms ease all;
}

.group .form-input-label.shrink {
	top: -14px;
	font-size: 12px;
	color:#5b5773;
}